.navbar-transparent {
    background-color: rgba(56, 56, 56, 0.4); /* Ajusta la opacidad según tus preferencias */
    border-color: rgba(255, 255, 255, 0.1); /* Ajusta el color del borde según tus preferencias */
    
}

/* Color del texto en el navbar transparente */
.navbar-transparent .navbar-nav .nav-link {
    color: black; /* Ajusta el color del texto según tus preferencias */
}
.tamaño{
    transition: color 0.3s, transform 0.3s;
}

.tamaño:hover {
    transform: scale(1.1); /* Ajusta el valor según tus preferencias */
}
.color{
    color: aliceblue;
}
.table{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.8); /* Sombreado */
}
.color:hover{
    color: rgb(38, 0, 255);
}
.bi-trash
  {
    font-size: 16px; /* Tamaño inicial del ícono */
    transition: font-size 0.3s; /* Agregar transición para suavizar el cambio de tamaño */
  }
  .bi-trash:hover
  {
    color:red;
    font-size: 17px; /* Tamaño del ícono cuando el mouse está encima */
  }
  .bi-pencil-square
  {
    font-size: 16px; /* Tamaño inicial del ícono */
    transition: font-size 0.3s; /* Agregar transición para suavizar el cambio de tamaño */
  }
  .bi-pencil-square:hover
  {
    color:rgb(0, 162, 255);
    font-size: 17px; /* Tamaño del ícono cuando el mouse está encima */
  }